@import "../color-palette.less";

footer {
    background: rgb(241, 246, 255);
    opacity: 0.7;
    margin: 10px 45px;
    min-height: 60px;
    border-radius: 20px;
    padding: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    * {
        color: #224;
    }
}