@import "../color-palette.less";

.header {
  width: 100vw;
  top: 0;
  min-height: 5vw;
  height: 8vh;
  background: @bg2;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: @shadow-light;
  gap: 1.8rem;
  overflow: visible;
  grid-row: 1 / 2;
  position: relative;
  z-index: 30;
}

.header-content {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;

  img {
    margin-right: 2rem;
  }
}

.header-logo {
  max-height: 90%;
  height: auto;
  width: auto;
  display: block;
  object-fit: contain;
}
