@import url("../color-palette.less");

.login-page {
    transition: margin 0.4s cubic-bezier(0.4, 0, 0.2, 1);

    @media (max-width: 600px) {
        margin: 10px 4px;
    }

    @media (min-width: 601px) and (max-width: 699px) {
        margin: 10px 6px;
    }

    @media (min-width: 700px) and (max-width: 749px) {
        margin: 10px 9px;
    }

    @media (min-width: 750px) and (max-width: 799px) {
        margin: 10px 14px;
    }

    @media (min-width: 800px) and (max-width: 849px) {
        margin: 10px 20px;
    }

    @media (min-width: 850px) and (max-width: 899px) {
        margin: 10px 25px;
    }

    @media (min-width: 900px) and (max-width: 949px) {
        margin: 10px 35px;
    }

    @media (min-width: 950px) and (max-width: 999px) {
        margin: 10px 50px;
    }

    @media (min-width: 1000px) and (max-width: 1049px) {
        margin: 10px 60px;
    }

    @media (min-width: 1050px) and (max-width: 1099px) {
        margin: 10px 70px;
    }

    @media (min-width: 1100px) and (max-width: 1149px) {
        margin: 10px 85px;
    }

    @media (min-width: 1150px) and (max-width: 1199px) {
        margin: 10px 100px;
    }

    @media (min-width: 1200px) and (max-width: 1249px) {
        margin: 10px 110px;
    }

    @media (min-width: 1250px) and (max-width: 1299px) {
        margin: 10px 120px;
    }

    @media (min-width: 1300px) and (max-width: 1349px) {
        margin: 10px 130px;
    }

    @media (min-width: 1350px) and (max-width: 1399px) {
        margin: 10px 140px;
    }

    @media (min-width: 1400px) and (max-width: 1449px) {
        margin: 10px 150px;
    }

    @media (min-width: 1450px) and (max-width: 1499px) {
        margin: 10px 160px;
    }

    @media (min-width: 1500px) and (max-width: 1549px) {
        margin: 10px 170px;
    }

    @media (min-width: 1550px) and (max-width: 1599px) {
        margin: 10px 180px;
    }

    @media (min-width: 1600px) and (max-width: 1649px) {
        margin: 10px 190px;
    }

    @media (min-width: 1650px) and (max-width: 1699px) {
        margin: 10px 200px;
    }

    @media (min-width: 1700px) and (max-width: 1749px) {
        margin: 10px 210px;
    }

    @media (min-width: 1750px) and (max-width: 1799px) {
        margin: 10px 220px;
    }

    @media (min-width: 1800px) and (max-width: 1849px) {
        margin: 10px 230px;
    }

    @media (min-width: 1850px) and (max-width: 1899px) {
        margin: 10px 240px;
    }

    @media (min-width: 1900px) and (max-width: 1949px) {
        margin: 10px 250px;
    }

    @media (min-width: 1950px) and (max-width: 1999px) {
        margin: 10px 260px;
    }

    @media (min-width: 2000px) and (max-width: 2099px) {
        margin: 10px 270px;
    }

    @media (min-width: 2100px) and (max-width: 2199px) {
        margin: 10px 280px;
    }

    @media (min-width: 2200px) and (max-width: 2299px) {
        margin: 10px 300px;
    }

    @media (min-width: 2300px) and (max-width: 2399px) {
        margin: 10px 320px;
    }

    @media (min-width: 2400px) and (max-width: 2499px) {
        margin: 10px 340px;
    }

    @media (min-width: 2500px) and (max-width: 2599px) {
        margin: 10px 360px;
    }

    @media (min-width: 2600px) and (max-width: 2699px) {
        margin: 10px 380px;
    }

    @media (min-width: 2700px) and (max-width: 2799px) {
        margin: 10px 400px;
    }

    @media (min-width: 2800px) and (max-width: 2899px) {
        margin: 10px 420px;
    }

    @media (min-width: 2900px) and (max-width: 2999px) {
        margin: 10px 440px;
    }

    @media (min-width: 3000px) {
        margin: 10px 480px;
    }
}
