<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <title>Media Server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style title="login-form">
      @import url('../../assets/styles/components/login-form.less');
    </style>
    <style title="global">
      @import url('../../assets/styles/global.less');
    </style>
  </head>
  <body x-data>
    <div id="app">
      <x-component 
        id="main"
        url="view/components/login-form.html" 
        styles="login-form">
      </x-component>
    </div>
  </body>
</html>
