<!doctype html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <title>Media Server</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../assets/styles/pages/login.scss" />
        <style title="login-form">
            @import url("../../assets/styles/components/login-form.scss");
        </style>
        <style title="header">
            @import url("../../assets/styles/components/header.scss");
        </style>
        <style title="footer">
            @import url("../../assets/styles/components/footer.scss");
        </style>
    </head>
    <body x-data>
        <div id="app" class="login-page">
            <x-component
                id="header"
                url="view/components/header.html"
                styles="header"
            ></x-component>
            <x-component
                id="main"
                url="view/components/login-form.html"
                styles="login-form"
            ></x-component>
            <x-component
                id="footer"
                url="view/components/footer.html"
                styles="footer"
            ></x-component>
        </div>
    </body>
</html>
