<!doctype html>
<main>
    <div class="content">
        <form action="">
            <h2 x-translate="'login'"></h2>

            <div class="input-box">
                <input
                    type="text"
                    :placeholder="$translate('username')"
                    required
                />
                <i class="ri-user-fill"></i>
            </div>

            <div class="input-box">
                <input
                    type="password"
                    id="password"
                    :placeholder="$translate('password')"
                    required
                    autocomplete="new-password"
                />

                <i
                    class="ri-eye-off-fill toggle-password"
                    id="togglePassword"
                ></i>
            </div>

            <div class="remember">
                <label>
                    <input type="checkbox" />
                    <span x-translate="'remember-me'"></span>
                </label>

                <a href="#" x-translate="'password-lost'"></a>
            </div>
            <button type="submit" class="btnn" x-translate="'login'"></button>

            <div class="button">
                <a href="#">
                    <i class="ri-google-fill"></i>
                    Google
                </a>
                --
                <a href="#">
                    <i class="ri-facebook-fill"></i>
                    <span x-translate="'create-account'"></span>
                </a>
            </div>
        </form>
    </div>
</main>
