// Background colors
$bg1: #323145;
$bg2: #44435a;
$bg3: #5a5970;
$bg4: #f6f8fe;
$bg5: #ffffff;

// Foreground colors
$fg1: #ffffff;
$fg2: #f8faff;
$fg3: #e0e6f5;
$fg4: #c3d0ee;
$fg5: #b1a8f9;

$text-dark-1: #223;
$text-dark-2: #444;
$text-dark-3: #6c7a99;

// Accent colors
$accent-blue: #7ea7f7;
$accent-purple: #b1a8f9;
$accent-blue-dark: #3a5ba0;
$accent-purple-dark: #6a5bbf;

// really in use
$text-main-dark: #224;

$dark-hover: #558;

$accent-blue-light: #b3c8fa;
$accent-purple-light: #e0dbfa;

$white-accent-shadow: 0 0px 40px rgba(100, 100, 150, 0.5);
$cold-accent-shadow: 0 0px 40px rgba(125, 125, 200, 0.8);

$big-radius: 24px;
