@import url("color-palette.less");
.hidden {
  visibility: hidden;
}

#hidden {
  display: none;
}

body {
  background: linear-gradient(135deg, @bg1 0%, @bg2 100%);
  margin: 0;
  padding: 0;
  background-image: rgb(68, 67, 90);
}

* {
  box-sizing: border-box;
}
