@import url("color-palette.less");
@import url("global-vars.less");

.hidden {
  visibility: hidden;
}

#hidden {
  visibility: hidden;
}

* {
  box-sizing: border-box;
  body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #e2ebff 0%, #a5b9f6 100%);

    .body-offset {
      position: relative;
      height: @header-height;
    }
  }
}