@import url("color-palette.less");
@import url("global-vars.less");

.hidden {
  visibility: hidden;
}

#hidden {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #6c6779;
}
.body-offset {
    position: relative;
    height: @header-height;
}